<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSLocalNetworkUsageDescription</key>
  <string>Dukto sends your files straight to your other devices on this network, without going through the internet.</string>
  <key>NSBonjourServices</key>
  <array>
    <string>_dukto._tcp</string>
  </array>
</dict>
</plist>
